    {{ if gt (len .Site.Data.features) 0 }}
	<div id="fh5co-features" data-section="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box" data-animate-effect="fadeIn">{{ .Site.Params.features.title }}</h2>
					<div class="row animate-box" data-animate-effect="fadeIn">
						<div class="col-md-8 col-md-offset-2">
							<h3>{{ .Site.Params.features.description }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
                {{ range sort .Site.Data.features "weight" }}
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-icon"><i class="{{ .icon }}"></i></div>
					<div class="fh5co-desc">
						<h3>{{ .title }}</h3>
						<p>{{ .description }}</p>
					</div>	
				</div>
				{{ end }}
				<div class="clearfix visible-sm-block visible-xs-block"></div>
			</div>
		</div>
	</div>
	{{ end }}
