	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						{{ if .Site.Params.social.twitter }}<li><a href="{{ .Site.Params.social.twitter }}"><i class="icon-twitter"></i></a></li>{{ end }}
						{{ if .Site.Params.social.facebook }}<li><a href="{{ .Site.Params.social.facebook }}"><i class="icon-facebook"></i></a></li>{{ end }}
						{{ if .Site.Params.social.youtube }}<li><a href="{{ .Site.Params.social.youtube }}"><i class="icon-youtube"></i></a></li>{{ end }}
						{{ if .Site.Params.social.pinterest }}<li><a href="{{ .Site.Params.social.pinterest }}"><i class="icon-pinterest"></i></a></li>{{ end }}
						{{ if .Site.Params.social.linkedin }}<li><a href="{{ .Site.Params.social.linkedin }}"><i class="icon-linkedin"></i></a></li>{{ end }}
						{{ if .Site.Params.social.instagram }}<li><a href="{{ .Site.Params.social.instagram }}"><i class="icon-instagram"></i></a></li>{{ end }}
						{{ if .Site.Params.social.dribbble }}<li><a href="{{ .Site.Params.social.dribbble }}"><i class="icon-dribbble"></i></a></li>{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</footer>
	
