	{{ if gt (len .Site.Data.tour) 0 }}
	<div id="fh5co-pricing" data-section="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box" data-animate-effect="fadeIn">Pricing</h2>
					<div class="row animate-box" data-animate-effect="fadeIn">
						<div class="col-md-8 col-md-offset-2 subtext">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				{{ range sort .Site.Data.pricing "weight" }}
				<div class="col-md-3 col-sm-6">
					<div class="price-box {{ if .popular.enable }}popular{{ end }} animate-box" data-animate-effect="fadeIn">
						{{ if .popular }}
						<div class="popular-text">{{ .popular.text }}</div>
						{{ end }}
						<h2 class="pricing-plan">{{ .plan | markdownify}}</h2>
						<div class="price">{{ .price | markdownify }}</div>
						<p>{{ .description | markdownify }}</p>
						<hr>
						<ul class="pricing-info">
							{{ .pricing_info | markdownify }}
						</ul>
						<a href="{{ .button.url }}" class="btn btn-default btn-sm">{{ .button.text | markdownify }}</a>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</div>
	{{ end }}