	<!-- TODO: enable customization of which side the image appears on -->
	{{ if gt (len .Site.Data.tour) 0 }}
	<div id="fh5co-tour" data-section="tour">
		<div class="container">
			{{ range sort .Site.Data.tour "weight" }}
			<div class="row row-bottom-padded-lg">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 animate-box" data-animate-effect='{{ .animation | default "fadeInLeft" }}'>
						<img src="{{ .image }}" class="img-responsive img-feature-1">
					</div>
					<div class="col-md-7 col-md-push-1">
						<h2>{{ .title | markdownify }}</h2>
						<p>{{ .description | markdownify }}</p>
						{{ if .button.enabled }}<p><a href="{{ .button.url }}" class="btn btn-primary">{{ .button.text }}</a></p>{{ end }}
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
	{{ end }}