<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
        {{ partial "nav.html" .}}

		{{ partial "hero.html" .}}

		{{ if .Site.Params.services.enable }}
        	{{ partial "services.html" .}}
		{{ end }}
		
		{{ if .Site.Params.screenshots.enable }}
            {{ partial "screenshots.html" .}}
		{{ end }}
		
		{{ if .Site.Params.tour.enable }}
            {{ partial "tour.html" .}}
		{{ end }}
		
		{{ if .Site.Params.features.enable }}
            {{ partial "features.html" .}}
		{{ end }}
		
		{{ if .Site.Params.testimonials.enable }}
            {{ partial "testimonials.html" .}}
		{{ end }}
		
		{{ if .Site.Params.pricing.enable }}
            {{ partial "pricing.html" .}}
		{{ end }}
		
		{{ if .Site.Params.cta.enable }}
            {{ partial "cta.html" .}}
		{{ end }}

        {{ if .Site.Params.footer.enable }}
        	{{ partial "footer.html" .}}
        {{ end }}

        {{ partial "js.html" .}}
    </body>
</html>
